body {
    font-family: 'Montserrat', sans-serif;
}

#videobackground .gradient {
    background: -moz-linear-gradient(45deg, rgba(40, 60, 100, 0.5), rgba(40, 60, 100, 0.5) 100%);
    background: -webkit-linear-gradient(45deg, rgba(40, 60, 100, 0.5), rgba(40, 60, 100, 0.5) 100%);
    background: linear-gradient(45deg, rgba(40, 60, 100, 0.5), rgba(40, 60, 100, 0.5) 100%);
}

#videobackground .view video {
    top: 0!important;
    left: 0!important;
    transform: none!important;
    min-height: 100vh;
}
