[type=radio]:checked, [type=radio]:not(:checked) {
    opacity: 1;
    position: static;

}

[type=checkbox]:checked, [type=checkbox]:not(:checked) {
    opacity: 1;
    position: static;
}

#recurring {
    opacity: 1;
    position: static;
}

#true-impact {
    opacity: 1;
    position: static;
}
/* .field, .radio, .required {
    opacity: 1;
    margin-top: 5px;
    left: 50px;

} */

/* #recurring {
    opacity: 1;
    margin-top: 5px;
    left: 50px;
}

#true-impact {
    opacity: 1;
    margin-top: 5px;
    left: 50px;
}

#24881152 {
    opacity: 1;
    margin-top: 5px;
    left: 50px;
}

#24881153 {
    opacity: 1;
    margin-top: 5px;
    left: 50px;
}

#24881154 {
    opacity: 1;
    margin-top: 5px;
    left: 50px;
}

#24881155 {
    opacity: 1;
    margin-top: 5px;
    left: 50px;
}

#24881156 {
    opacity: 1;
    margin-top: 5px;
    left: 50px;
} */

/* label[for=other-option] {
    display: flex;
    justify-content: space-between;
}

label[for=recurring] {
    display: flex;
    justify-content: space-between;
}

label[for=true-impact] {
    display: flex;
    justify-content: space-between;
} */
