[type=radio]:checked, [type=radio]:not(:checked) {
    opacity: 1;
    position: static;

}

[type=checkbox]:checked, [type=checkbox]:not(:checked) {
    opacity: 1;
    position: static;
}

#recurring {
    opacity: 1;
    position: static;
}

#true-impact {
    opacity: 1;
    position: static;
}

#2488152 .label span {
    opacity: 0;
}

/* [for='2488152'] span {
    opacity: 0;
} */
