input[type=radio]:checked, input[type=radio]:not(:checked) {
    opacity: 1;
}

.field, .radio, .required {
    opacity: 1;
}

#recurring {
    opacity: 1;
}

#true-impact {
    opacity: 1;
}

#24881152 {
    display: flex;
    justify-content: space-between;
}

#24881153 {
    display: flex;
    justify-content: space-between;
}

#24881154 {
    display: flex;
    justify-content: space-between;
}

#24881155 {
    display: flex;
    justify-content: space-between;
}

#24881156 {
    display: flex;
    justify-content: space-between;
}

/* label[for=other-option] {
    display: flex;
    justify-content: space-between;
}

label[for=recurring] {
    display: flex;
    justify-content: space-between;
}

label[for=true-impact] {
    display: flex;
    justify-content: space-between;
} */
